In [1]:
import numpy as np
import pandas as pd

In [2]:
range_index = pd.to_timedelta(np.arange(1, 25), unit="h")

point_0_index = [pd.Timedelta(0)]
point_1_index = [pd.Timedelta(1, unit="h")]
t0_index = pd.date_range(pd.Timestamp(2018, 1, 1), freq="h", periods=10, tz="Europe/Berlin")

row_dim_names =["offset", "time_stamp"]
range_row_index = pd.MultiIndex.from_product([range_index, t0_index], names=row_dim_names)
point_0_row_index = pd.MultiIndex.from_product([point_0_index, t0_index], names=row_dim_names)
point_1_row_index = pd.MultiIndex.from_product([point_1_index, t0_index], names=row_dim_names)

In [3]:
features = ["room_temp", "rad_temp_rad", "rad_temp_room"]

determ_cols = ["value"]
sampled_cols = list(range(16))
quant_cols = [.1, .5, .9]

col_dim_names = ["feature", "representation"]
determ_col_index = pd.MultiIndex.from_product([features, determ_cols], names=col_dim_names)
sampled_col_index = pd.MultiIndex.from_product([features, sampled_cols], names=col_dim_names)
quant_col_index = pd.MultiIndex.from_product([features, quant_cols], names=col_dim_names)

# Input time series
## 1 deterministic input series with 10 time steps
Offset 0 and representation "value" are redundant and there for uniformity with the other uses of the data structure

In [4]:
determ_ts = pd.DataFrame(index=point_0_row_index, columns=determ_col_index); determ_ts

feature                          room_temp rad_temp_rad rad_temp_room
representation                       value        value         value
offset time_stamp
0 days 2018-01-01 00:00:00+01:00       NaN          NaN           NaN
       2018-01-01 01:00:00+01:00       NaN          NaN           NaN
       2018-01-01 02:00:00+01:00       NaN          NaN           NaN
       2018-01-01 03:00:00+01:00       NaN          NaN           NaN
       2018-01-01 04:00:00+01:00       NaN          NaN           NaN
       2018-01-01 05:00:00+01:00       NaN          NaN           NaN
       2018-01-01 06:00:00+01:00       NaN          NaN           NaN
       2018-01-01 07:00:00+01:00       NaN          NaN           NaN
       2018-01-01 08:00:00+01:00       NaN          NaN           NaN
       2018-01-01 09:00:00+01:00       NaN          NaN           NaN

# Forecasts
## 10 sampled single-horizon hour-ahead forecasts with 3 features $\times$ 16 samples each
Samples in this case refers to samples drawn from a distribution, i.e., in the sochastic sense, not in the ML-sense

In [5]:
sampled_ts = pd.DataFrame(index=point_1_row_index, columns=sampled_col_index); sampled_ts

feature                                   room_temp                           \
representation                                   0    1    2    3    4    5
offset          time_stamp
0 days 01:00:00 2018-01-01 00:00:00+01:00       NaN  NaN  NaN  NaN  NaN  NaN
                2018-01-01 01:00:00+01:00       NaN  NaN  NaN  NaN  NaN  NaN
                2018-01-01 02:00:00+01:00       NaN  NaN  NaN  NaN  NaN  NaN
                2018-01-01 03:00:00+01:00       NaN  NaN  NaN  NaN  NaN  NaN
                2018-01-01 04:00:00+01:00       NaN  NaN  NaN  NaN  NaN  NaN
                2018-01-01 05:00:00+01:00       NaN  NaN  NaN  NaN  NaN  NaN
                2018-01-01 06:00:00+01:00       NaN  NaN  NaN  NaN  NaN  NaN
                2018-01-01 07:00:00+01:00       NaN  NaN  NaN  NaN  NaN  NaN
                2018-01-01 08:00:00+01:00       NaN  NaN  NaN  NaN  NaN  NaN
                2018-01-01 09:00:00+01:00       NaN  NaN  NaN  NaN  NaN  NaN

feature                                                        ...  \
representation                              6    7    8    9   ...
offset          time_stamp                                     ...
0 days 01:00:00 2018-01-01 00:00:00+01:00  NaN  NaN  NaN  NaN  ...
                2018-01-01 01:00:00+01:00  NaN  NaN  NaN  NaN  ...
                2018-01-01 02:00:00+01:00  NaN  NaN  NaN  NaN  ...
                2018-01-01 03:00:00+01:00  NaN  NaN  NaN  NaN  ...
                2018-01-01 04:00:00+01:00  NaN  NaN  NaN  NaN  ...
                2018-01-01 05:00:00+01:00  NaN  NaN  NaN  NaN  ...
                2018-01-01 06:00:00+01:00  NaN  NaN  NaN  NaN  ...
                2018-01-01 07:00:00+01:00  NaN  NaN  NaN  NaN  ...
                2018-01-01 08:00:00+01:00  NaN  NaN  NaN  NaN  ...
                2018-01-01 09:00:00+01:00  NaN  NaN  NaN  NaN  ...

feature                                   rad_temp_room                      \
representation                                       6    7    8    9    10
offset          time_stamp
0 days 01:00:00 2018-01-01 00:00:00+01:00           NaN  NaN  NaN  NaN  NaN
                2018-01-01 01:00:00+01:00           NaN  NaN  NaN  NaN  NaN
                2018-01-01 02:00:00+01:00           NaN  NaN  NaN  NaN  NaN
                2018-01-01 03:00:00+01:00           NaN  NaN  NaN  NaN  NaN
                2018-01-01 04:00:00+01:00           NaN  NaN  NaN  NaN  NaN
                2018-01-01 05:00:00+01:00           NaN  NaN  NaN  NaN  NaN
                2018-01-01 06:00:00+01:00           NaN  NaN  NaN  NaN  NaN
                2018-01-01 07:00:00+01:00           NaN  NaN  NaN  NaN  NaN
                2018-01-01 08:00:00+01:00           NaN  NaN  NaN  NaN  NaN
                2018-01-01 09:00:00+01:00           NaN  NaN  NaN  NaN  NaN

feature
representation                              11   12   13   14   15
offset          time_stamp
0 days 01:00:00 2018-01-01 00:00:00+01:00  NaN  NaN  NaN  NaN  NaN
                2018-01-01 01:00:00+01:00  NaN  NaN  NaN  NaN  NaN
                2018-01-01 02:00:00+01:00  NaN  NaN  NaN  NaN  NaN
                2018-01-01 03:00:00+01:00  NaN  NaN  NaN  NaN  NaN
                2018-01-01 04:00:00+01:00  NaN  NaN  NaN  NaN  NaN
                2018-01-01 05:00:00+01:00  NaN  NaN  NaN  NaN  NaN
                2018-01-01 06:00:00+01:00  NaN  NaN  NaN  NaN  NaN
                2018-01-01 07:00:00+01:00  NaN  NaN  NaN  NaN  NaN
                2018-01-01 08:00:00+01:00  NaN  NaN  NaN  NaN  NaN
                2018-01-01 09:00:00+01:00  NaN  NaN  NaN  NaN  NaN

[10 rows x 48 columns]

## 10 multi-horizon forecasts of 24 hours in quantiles .1, .5 and .9
Since the stride is 1h, the forecast periods overlap and the time stamp column of the index is not eneough as a unique identifier, only in combination with offset.

In [6]:
mh_qt_ts = pd.DataFrame(index=range_row_index, columns=quant_col_index); mh_qt_ts

feature                                   room_temp           rad_temp_rad  \
representation                                  0.1  0.5  0.9          0.1
offset          time_stamp
0 days 01:00:00 2018-01-01 00:00:00+01:00       NaN  NaN  NaN          NaN
                2018-01-01 01:00:00+01:00       NaN  NaN  NaN          NaN
                2018-01-01 02:00:00+01:00       NaN  NaN  NaN          NaN
                2018-01-01 03:00:00+01:00       NaN  NaN  NaN          NaN
                2018-01-01 04:00:00+01:00       NaN  NaN  NaN          NaN
...                                             ...  ...  ...          ...
1 days 00:00:00 2018-01-01 05:00:00+01:00       NaN  NaN  NaN          NaN
                2018-01-01 06:00:00+01:00       NaN  NaN  NaN          NaN
                2018-01-01 07:00:00+01:00       NaN  NaN  NaN          NaN
                2018-01-01 08:00:00+01:00       NaN  NaN  NaN          NaN
                2018-01-01 09:00:00+01:00       NaN  NaN  NaN          NaN

feature                                             rad_temp_room
representation                             0.5  0.9           0.1  0.5  0.9
offset          time_stamp
0 days 01:00:00 2018-01-01 00:00:00+01:00  NaN  NaN           NaN  NaN  NaN
                2018-01-01 01:00:00+01:00  NaN  NaN           NaN  NaN  NaN
                2018-01-01 02:00:00+01:00  NaN  NaN           NaN  NaN  NaN
                2018-01-01 03:00:00+01:00  NaN  NaN           NaN  NaN  NaN
                2018-01-01 04:00:00+01:00  NaN  NaN           NaN  NaN  NaN
...                                        ...  ...           ...  ...  ...
1 days 00:00:00 2018-01-01 05:00:00+01:00  NaN  NaN           NaN  NaN  NaN
                2018-01-01 06:00:00+01:00  NaN  NaN           NaN  NaN  NaN
                2018-01-01 07:00:00+01:00  NaN  NaN           NaN  NaN  NaN
                2018-01-01 08:00:00+01:00  NaN  NaN           NaN  NaN  NaN
                2018-01-01 09:00:00+01:00  NaN  NaN           NaN  NaN  NaN

[240 rows x 9 columns]

### View the froecast made at 4am

In [7]:
t0_4am = pd.Timestamp(2018, 1, 1, 4, tz="Europe/Berlin")
mh_qt_ts.swaplevel(axis=0).loc[t0_4am]

feature         room_temp           rad_temp_rad           rad_temp_room       \
representation        0.1  0.5  0.9          0.1  0.5  0.9           0.1  0.5
offset
0 days 01:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 02:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 03:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 04:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 05:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 06:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 07:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 08:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 09:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 10:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 11:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 12:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 13:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 14:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 15:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 16:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 17:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 18:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 19:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 20:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 21:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 22:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
0 days 23:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN
1 days 00:00:00       NaN  NaN  NaN          NaN  NaN  NaN           NaN  NaN

feature
representation   0.9
offset
0 days 01:00:00  NaN
0 days 02:00:00  NaN
0 days 03:00:00  NaN
0 days 04:00:00  NaN
0 days 05:00:00  NaN
0 days 06:00:00  NaN
0 days 07:00:00  NaN
0 days 08:00:00  NaN
0 days 09:00:00  NaN
0 days 10:00:00  NaN
0 days 11:00:00  NaN
0 days 12:00:00  NaN
0 days 13:00:00  NaN
0 days 14:00:00  NaN
0 days 15:00:00  NaN
0 days 16:00:00  NaN
0 days 17:00:00  NaN
0 days 18:00:00  NaN
0 days 19:00:00  NaN
0 days 20:00:00  NaN
0 days 21:00:00  NaN
0 days 22:00:00  NaN
0 days 23:00:00  NaN
1 days 00:00:00  NaN

### View the 3h-ahead-step of every forecast

In [8]:
# choose an offset
offset_3h = pd.Timedelta(3, unit="h")

# select all forecasts at the desired offset
forecasts_3h = mh_qt_ts.loc[offset_3h]

# use the offset to compute the time step the forecast was made for
forecasts_3h["time_stamp"] = forecasts_3h.index + offset_3h

# use the new time stamps as index for clariy
forecasts_3h.set_index("time_stamp", inplace=True, drop=True)

# display
forecasts_3h

feature                   room_temp           rad_temp_rad            \
representation                  0.1  0.5  0.9          0.1  0.5  0.9
time_stamp
2018-01-01 03:00:00+01:00       NaN  NaN  NaN          NaN  NaN  NaN
2018-01-01 04:00:00+01:00       NaN  NaN  NaN          NaN  NaN  NaN
2018-01-01 05:00:00+01:00       NaN  NaN  NaN          NaN  NaN  NaN
2018-01-01 06:00:00+01:00       NaN  NaN  NaN          NaN  NaN  NaN
2018-01-01 07:00:00+01:00       NaN  NaN  NaN          NaN  NaN  NaN
2018-01-01 08:00:00+01:00       NaN  NaN  NaN          NaN  NaN  NaN
2018-01-01 09:00:00+01:00       NaN  NaN  NaN          NaN  NaN  NaN
2018-01-01 10:00:00+01:00       NaN  NaN  NaN          NaN  NaN  NaN
2018-01-01 11:00:00+01:00       NaN  NaN  NaN          NaN  NaN  NaN
2018-01-01 12:00:00+01:00       NaN  NaN  NaN          NaN  NaN  NaN

feature                   rad_temp_room
representation                      0.1  0.5  0.9
time_stamp
2018-01-01 03:00:00+01:00           NaN  NaN  NaN
2018-01-01 04:00:00+01:00           NaN  NaN  NaN
2018-01-01 05:00:00+01:00           NaN  NaN  NaN
2018-01-01 06:00:00+01:00           NaN  NaN  NaN
2018-01-01 07:00:00+01:00           NaN  NaN  NaN
2018-01-01 08:00:00+01:00           NaN  NaN  NaN
2018-01-01 09:00:00+01:00           NaN  NaN  NaN
2018-01-01 10:00:00+01:00           NaN  NaN  NaN
2018-01-01 11:00:00+01:00           NaN  NaN  NaN
2018-01-01 12:00:00+01:00           NaN  NaN  NaN