In [1]:
import sys
import os

# Add project root to sys.path
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)

In [2]:
import sys
sys.path.append("..")

from IPython.display import display, Markdown
import numpy as np
import pandas as pd

from forcateri import TimeSeries

def mprint(s): display(Markdown(s))

In [3]:
import logging

# Get the logger you used in your TimeSeries class
logger = logging.getLogger("forcateri.data.timeseries")
logger.setLevel(logging.INFO)  # or logging.DEBUG for more verbosity

# Create handler if it doesn't exist
if not logger.handlers:
    handler = logging.StreamHandler()
    handler.setLevel(logging.INFO)
    formatter = logging.Formatter('%(asctime)s - %(levelname)s - %(message)s')
    handler.setFormatter(formatter)
    logger.addHandler(handler)

# Optional: prevent propagation to avoid double logs
logger.propagate = False

In [4]:
%reload_ext autoreload

In [5]:
df = pd.read_csv("/home/user/DFKI/forcateri/_data/hourly_data.csv",index_col=0)

In [6]:

df_978 = df[df['room_id'] == 978]
df_978 = df_978.drop(columns=['room_id'])
df_978['rounded_ts'] =pd.to_datetime(df_978['rounded_ts'])

In [7]:
df_978.set_index('rounded_ts', inplace=True)

In [8]:
df_978

,sin_time_of_day,cos_time_of_day,sin_time_of_year,cos_time_of_year,day_of_week,max_temperature_1,max_temperature_2,outside_temp,room_temperature,delta
rounded_ts,,,,,,,,,,
2019-06-01 00:00:00,0.500000,1.000000,0.753708,0.069149,5,22.616923,22.709231,10.8,21.081304,0.0
2019-06-01 01:00:00,0.629410,0.982963,0.753708,0.069149,5,22.522000,22.626667,10.8,21.079091,0.0
2019-06-01 02:00:00,0.750000,0.933013,0.753708,0.069149,5,22.413846,22.545385,9.8,21.075185,0.0
2019-06-01 03:00:00,0.853553,0.853553,0.753708,0.069149,5,22.425000,22.540000,9.8,21.078500,0.0
2019-06-01 04:00:00,0.933013,0.750000,0.753708,0.069149,5,22.549231,22.601538,9.8,21.101111,0.0
...,...,...,...,...,...,...,...,...,...,...
2022-04-18 20:00:00,0.066987,0.750000,0.980075,0.360257,0,23.687273,25.089091,9.2,20.499355,0.0
2022-04-18 21:00:00,0.146447,0.853553,0.980075,0.360257,0,24.031538,25.581538,9.3,20.510811,0.0
2022-04-18 22:00:00,0.250000,0.933013,0.980075,0.360257,0,24.100556,25.333889,8.3,20.440870,0.0
2022-04-18 23:00:00,0.370590,0.982963,0.980075,0.360257,0,23.381000,24.433000,6.8,20.396154,0.0
2022-04-19 00:00:00,0.500000,1.000000,0.977605,0.352037,1,23.590000,24.780000,6.2,20.316400,0.0

In [9]:
ts = TimeSeries(data = df_978,representation='value')

2025-05-21 17:34:18,768 - INFO - TimeSeries initialized from compatible-format DataFrame.

In [10]:
expected_index_names = ['offset', 'time_stamp']
expected_column_names = ['feature', 'representation']
TimeSeries.is_matching_format(df_978)

False

In [11]:
ts.data

feature                    sin_time_of_day cos_time_of_day sin_time_of_year  \
representation                       value           value            value
offset time_stamp
0 days 2019-06-01 00:00:00        0.500000        1.000000         0.753708
       2019-06-01 01:00:00        0.629410        0.982963         0.753708
       2019-06-01 02:00:00        0.750000        0.933013         0.753708
       2019-06-01 03:00:00        0.853553        0.853553         0.753708
       2019-06-01 04:00:00        0.933013        0.750000         0.753708
...                                    ...             ...              ...
       2022-04-18 20:00:00        0.066987        0.750000         0.980075
       2022-04-18 21:00:00        0.146447        0.853553         0.980075
       2022-04-18 22:00:00        0.250000        0.933013         0.980075
       2022-04-18 23:00:00        0.370590        0.982963         0.980075
       2022-04-19 00:00:00        0.500000        1.000000         0.977605

feature                    cos_time_of_year day_of_week max_temperature_1  \
representation                        value       value             value
offset time_stamp
0 days 2019-06-01 00:00:00         0.069149           5         22.616923
       2019-06-01 01:00:00         0.069149           5         22.522000
       2019-06-01 02:00:00         0.069149           5         22.413846
       2019-06-01 03:00:00         0.069149           5         22.425000
       2019-06-01 04:00:00         0.069149           5         22.549231
...                                     ...         ...               ...
       2022-04-18 20:00:00         0.360257           0         23.687273
       2022-04-18 21:00:00         0.360257           0         24.031538
       2022-04-18 22:00:00         0.360257           0         24.100556
       2022-04-18 23:00:00         0.360257           0         23.381000
       2022-04-19 00:00:00         0.352037           1         23.590000

feature                    max_temperature_2 outside_temp room_temperature  \
representation                         value        value            value
offset time_stamp
0 days 2019-06-01 00:00:00         22.709231         10.8        21.081304
       2019-06-01 01:00:00         22.626667         10.8        21.079091
       2019-06-01 02:00:00         22.545385          9.8        21.075185
       2019-06-01 03:00:00         22.540000          9.8        21.078500
       2019-06-01 04:00:00         22.601538          9.8        21.101111
...                                      ...          ...              ...
       2022-04-18 20:00:00         25.089091          9.2        20.499355
       2022-04-18 21:00:00         25.581538          9.3        20.510811
       2022-04-18 22:00:00         25.333889          8.3        20.440870
       2022-04-18 23:00:00         24.433000          6.8        20.396154
       2022-04-19 00:00:00         24.780000          6.2        20.316400

feature                    delta
representation             value
offset time_stamp
0 days 2019-06-01 00:00:00   0.0
       2019-06-01 01:00:00   0.0
       2019-06-01 02:00:00   0.0
       2019-06-01 03:00:00   0.0
       2019-06-01 04:00:00   0.0
...                          ...
       2022-04-18 20:00:00   0.0
       2022-04-18 21:00:00   0.0
       2022-04-18 22:00:00   0.0
       2022-04-18 23:00:00   0.0
       2022-04-19 00:00:00   0.0

[25273 rows x 10 columns]

In [12]:
rng = np.random.default_rng()
n_cols, n_rows = 3, 12
index = pd.date_range(start="2000-01-01", freq="h", periods=n_rows)

In [13]:
raw_df = pd.DataFrame(
    data=rng.random(n_cols * n_rows).reshape(n_rows, n_cols)
)
mprint("### Not compatible\nNo time information is provided:")
raw_df

### Not compatible
No time information is provided:

           0         1         2
0   0.829982  0.790697  0.132703
1   0.661476  0.970156  0.884618
2   0.862876  0.309946  0.741846
3   0.566490  0.197467  0.816245
4   0.633036  0.155815  0.307521
5   0.799000  0.403955  0.118864
6   0.295665  0.677960  0.660603
7   0.273266  0.379772  0.045108
8   0.890995  0.771474  0.056566
9   0.329797  0.162736  0.161710
10  0.830886  0.965058  0.057488
11  0.692875  0.949584  0.632151

In [14]:
dt_indexed_df = raw_df.copy()
dt_indexed_df.set_index(index, inplace=True)
mprint("### Compatible\nThe column index represents deterministic features, the row index represents time steps")
dt_indexed_df

### Compatible
The column index represents deterministic features, the row index represents time steps

                            0         1         2
2000-01-01 00:00:00  0.829982  0.790697  0.132703
2000-01-01 01:00:00  0.661476  0.970156  0.884618
2000-01-01 02:00:00  0.862876  0.309946  0.741846
2000-01-01 03:00:00  0.566490  0.197467  0.816245
2000-01-01 04:00:00  0.633036  0.155815  0.307521
2000-01-01 05:00:00  0.799000  0.403955  0.118864
2000-01-01 06:00:00  0.295665  0.677960  0.660603
2000-01-01 07:00:00  0.273266  0.379772  0.045108
2000-01-01 08:00:00  0.890995  0.771474  0.056566
2000-01-01 09:00:00  0.329797  0.162736  0.161710
2000-01-01 10:00:00  0.830886  0.965058  0.057488
2000-01-01 11:00:00  0.692875  0.949584  0.632151

In [15]:
ambiguous_col_df = dt_indexed_df.copy()
ambiguous_col_df.columns = pd.MultiIndex.from_product([["delta"], [1, 5, 9]])
mprint("""
### Compatible but...\n
Unclear how to interpret the inner column index: As samples? As quantiles? Which quantiles?
Thus, the compatibility check should succeed but an error can still be thrown by the constructor
if `representation` and/or `quantiles` are not provided.
""")
ambiguous_col_df

### Compatible but...

Unclear how to interpret the inner column index: As samples? As quantiles? Which quantiles?
Thus, the compatibility check should succeed but an error can still be thrown by the constructor
if `representation` and/or `quantiles` are not provided.

                        delta
                            1         5         9
2000-01-01 00:00:00  0.829982  0.790697  0.132703
2000-01-01 01:00:00  0.661476  0.970156  0.884618
2000-01-01 02:00:00  0.862876  0.309946  0.741846
2000-01-01 03:00:00  0.566490  0.197467  0.816245
2000-01-01 04:00:00  0.633036  0.155815  0.307521
2000-01-01 05:00:00  0.799000  0.403955  0.118864
2000-01-01 06:00:00  0.295665  0.677960  0.660603
2000-01-01 07:00:00  0.273266  0.379772  0.045108
2000-01-01 08:00:00  0.890995  0.771474  0.056566
2000-01-01 09:00:00  0.329797  0.162736  0.161710
2000-01-01 10:00:00  0.830886  0.965058  0.057488
2000-01-01 11:00:00  0.692875  0.949584  0.632151

In [19]:
expected_column_names = ['feature', 'representation']
ambiguous_col_df.columns.names = expected_column_names
ambiguous_col_df

feature                 delta
representation              1         5         9
2000-01-01 00:00:00  0.829982  0.790697  0.132703
2000-01-01 01:00:00  0.661476  0.970156  0.884618
2000-01-01 02:00:00  0.862876  0.309946  0.741846
2000-01-01 03:00:00  0.566490  0.197467  0.816245
2000-01-01 04:00:00  0.633036  0.155815  0.307521
2000-01-01 05:00:00  0.799000  0.403955  0.118864
2000-01-01 06:00:00  0.295665  0.677960  0.660603
2000-01-01 07:00:00  0.273266  0.379772  0.045108
2000-01-01 08:00:00  0.890995  0.771474  0.056566
2000-01-01 09:00:00  0.329797  0.162736  0.161710
2000-01-01 10:00:00  0.830886  0.965058  0.057488
2000-01-01 11:00:00  0.692875  0.949584  0.632151

In [ ]:
ts_ambiguous.data

                               delta
                                   1         5         9
offset time_stamp
0 days 2000-01-01 00:00:00  0.557150  0.962100  0.001136
       2000-01-01 01:00:00  0.058694  0.657627  0.721886
       2000-01-01 02:00:00  0.158600  0.884998  0.938514
       2000-01-01 03:00:00  0.114255  0.520144  0.618273
       2000-01-01 04:00:00  0.452429  0.924309  0.171678
       2000-01-01 05:00:00  0.861993  0.041601  0.946503
       2000-01-01 06:00:00  0.978713  0.171393  0.014989
       2000-01-01 07:00:00  0.284233  0.905672  0.915370
       2000-01-01 08:00:00  0.554307  0.952232  0.554326
       2000-01-01 09:00:00  0.682784  0.114459  0.069141
       2000-01-01 10:00:00  0.893578  0.848507  0.624304
       2000-01-01 11:00:00  0.775326  0.032200  0.435499