In [85]:
import sys
import os

# Add project root to sys.path
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)

In [86]:
from forcateri.data.timeseries import TimeSeries
import pandas as pd

In [87]:
df = pd.read_csv("/home/dior00002/dfki/forcateri/_data/showcase_data.csv")
df_486 = df[df['room_id'] == 486]

In [88]:
ts = TimeSeries(df_486,time_col='datetime')

In [89]:
ts2 = TimeSeries.from_dataframe(df_486, time_col='datetime')

In [90]:
ts.data

feature                          room_id q_hca temperature_1_max  \
representation                     value value             value
offset time_stamp
0 days 2021-01-01 00:00:00+00:00   486.0   0.0             16.78
       2021-01-01 01:00:00+00:00   486.0   0.0             16.75
       2021-01-01 02:00:00+00:00   486.0   0.0             16.74
       2021-01-01 03:00:00+00:00   486.0   0.0             16.72
       2021-01-01 04:00:00+00:00   486.0   0.0             16.71
...                                  ...   ...               ...
       2021-01-09 19:00:00+00:00   486.0   0.0             16.40
       2021-01-09 20:00:00+00:00   486.0   0.0             16.42
       2021-01-09 21:00:00+00:00   486.0   0.0             16.43
       2021-01-09 22:00:00+00:00   486.0   0.0             16.43
       2021-01-09 23:00:00+00:00   486.0   0.0             16.44

feature                          temperature_2_max temperature_outdoor_avg  \
representation                               value                   value
offset time_stamp
0 days 2021-01-01 00:00:00+00:00             16.54                     NaN
       2021-01-01 01:00:00+00:00             16.52                     NaN
       2021-01-01 02:00:00+00:00             16.50                     NaN
       2021-01-01 03:00:00+00:00             16.49                     NaN
       2021-01-01 04:00:00+00:00             16.47                     NaN
...                                            ...                     ...
       2021-01-09 19:00:00+00:00             16.12                     NaN
       2021-01-09 20:00:00+00:00             16.14                     NaN
       2021-01-09 21:00:00+00:00             16.16                     NaN
       2021-01-09 22:00:00+00:00             16.16                     NaN
       2021-01-09 23:00:00+00:00             16.16                     NaN

feature                          temperature_room_avg
representation                                  value
offset time_stamp
0 days 2021-01-01 00:00:00+00:00                  NaN
       2021-01-01 01:00:00+00:00                  NaN
       2021-01-01 02:00:00+00:00                  NaN
       2021-01-01 03:00:00+00:00                  NaN
       2021-01-01 04:00:00+00:00                  NaN
...                                               ...
       2021-01-09 19:00:00+00:00                  NaN
       2021-01-09 20:00:00+00:00                  NaN
       2021-01-09 21:00:00+00:00                  NaN
       2021-01-09 22:00:00+00:00                  NaN
       2021-01-09 23:00:00+00:00                  NaN

[216 rows x 6 columns]

In [91]:
test = ts.data.columns.swaplevel(0,1)

In [98]:
test = ts.data.copy()

In [93]:
expected_index_names = ['time_stamp', 'offset']
expected_column_names = ['feature', 'representation']
test.index = test.index.reorder_levels([test.index.names.index(name) for name in expected_index_names])
test

,feature,room_id,q_hca,temperature_1_max,temperature_2_max,temperature_outdoor_avg,temperature_room_avg
,representation,value,value,value,value,value,value
time_stamp,offset,,,,,,
2021-01-01 00:00:00+00:00,0 days,486.0,0.0,16.78,16.54,NaN,NaN
2021-01-01 01:00:00+00:00,0 days,486.0,0.0,16.75,16.52,NaN,NaN
2021-01-01 02:00:00+00:00,0 days,486.0,0.0,16.74,16.50,NaN,NaN
2021-01-01 03:00:00+00:00,0 days,486.0,0.0,16.72,16.49,NaN,NaN
2021-01-01 04:00:00+00:00,0 days,486.0,0.0,16.71,16.47,NaN,NaN
...,...,...,...,...,...,...,...
2021-01-09 19:00:00+00:00,0 days,486.0,0.0,16.40,16.12,NaN,NaN
2021-01-09 20:00:00+00:00,0 days,486.0,0.0,16.42,16.14,NaN,NaN
2021-01-09 21:00:00+00:00,0 days,486.0,0.0,16.43,16.16,NaN,NaN
2021-01-09 22:00:00+00:00,0 days,486.0,0.0,16.43,16.16,NaN,NaN
2021-01-09 23:00:00+00:00,0 days,486.0,0.0,16.44,16.16,NaN,NaN

In [94]:
TimeSeries._is_internal_format(test)

True

In [99]:
test.columns = test.columns.droplevel("representation")
test

feature                           room_id  q_hca  temperature_1_max  \
offset time_stamp
0 days 2021-01-01 00:00:00+00:00    486.0    0.0              16.78
       2021-01-01 01:00:00+00:00    486.0    0.0              16.75
       2021-01-01 02:00:00+00:00    486.0    0.0              16.74
       2021-01-01 03:00:00+00:00    486.0    0.0              16.72
       2021-01-01 04:00:00+00:00    486.0    0.0              16.71
...                                   ...    ...                ...
       2021-01-09 19:00:00+00:00    486.0    0.0              16.40
       2021-01-09 20:00:00+00:00    486.0    0.0              16.42
       2021-01-09 21:00:00+00:00    486.0    0.0              16.43
       2021-01-09 22:00:00+00:00    486.0    0.0              16.43
       2021-01-09 23:00:00+00:00    486.0    0.0              16.44

feature                           temperature_2_max  temperature_outdoor_avg  \
offset time_stamp
0 days 2021-01-01 00:00:00+00:00              16.54                      NaN
       2021-01-01 01:00:00+00:00              16.52                      NaN
       2021-01-01 02:00:00+00:00              16.50                      NaN
       2021-01-01 03:00:00+00:00              16.49                      NaN
       2021-01-01 04:00:00+00:00              16.47                      NaN
...                                             ...                      ...
       2021-01-09 19:00:00+00:00              16.12                      NaN
       2021-01-09 20:00:00+00:00              16.14                      NaN
       2021-01-09 21:00:00+00:00              16.16                      NaN
       2021-01-09 22:00:00+00:00              16.16                      NaN
       2021-01-09 23:00:00+00:00              16.16                      NaN

feature                           temperature_room_avg
offset time_stamp
0 days 2021-01-01 00:00:00+00:00                   NaN
       2021-01-01 01:00:00+00:00                   NaN
       2021-01-01 02:00:00+00:00                   NaN
       2021-01-01 03:00:00+00:00                   NaN
       2021-01-01 04:00:00+00:00                   NaN
...                                                ...
       2021-01-09 19:00:00+00:00                   NaN
       2021-01-09 20:00:00+00:00                   NaN
       2021-01-09 21:00:00+00:00                   NaN
       2021-01-09 22:00:00+00:00                   NaN
       2021-01-09 23:00:00+00:00                   NaN

[216 rows x 6 columns]